extends _layout.pug

block body
    img.banner(src=config.visibleImageFile, alt="Auth page banner")
    h1=config.visibleTitle
    p.description=config.visibleDescription
    form(action="/interaction/" + uid + "/confirm" method="post")
        input(type="hidden" name="prompt" value="consent")
        button(type="submit") Authorize 
        if config.enablePasswordReset
            a.password-reset(href="/reset-password") Cambiar contraseña